.share-buttons img {
    margin-right: 10%; 
    width: 35%;
    z-index: 100;
    position: relative;
}
#ontop{
	position: fixed;
	z-index: 100;
	width: 100%;
	padding-top: 1%;
	padding-left: 1%;
	padding-right: 1%; 
}
#title{
	padding-top: 1.75%;
	font-size: 140px;
	line-height: 140px;
	font-family: .tk-abril-titling-condensed, times;
	color: #080808;	
	letter-spacing: 2px;
}
#lede{
	font-size: 48.5px;
	color: black;
	letter-spacing: 0.75px;
}
#container1{
	margin-left: 5%;
}
.vertLine{
	border-left: solid #000000;
	position: absolute;
	left: 2%;
	float: left;
	overflow: hidden;
}
#drop{
	float: left;
	margin-top: 0px;
	margin-bottom: 0;
	font-size: 50px;
	padding-right: 1%;
}
.p{
	padding-left: 0;
	padding-top: 1%;
	font-size: 18px;
}
#aside{
	padding-top: 15%;
	padding-left: 5%;
	padding-bottom: 5%; 
}
.hrLn{
	background-color: #080808;
	height: 0.15em;
}
#uno{
	margin-right: 23%;
}
#dos{
	margin-right: 29%;
}
#tres{
	margin-left: 35%;
}
.pullquote{
	font-family: serif;
	font-weight: bold;
	position: absolute;
	background-color: #FFFFFF;
}
#begquo{
	width: 35%;
	margin-top: 28%;
	padding-left: 1.5%;
	padding-right: 1%;
	padding-top: 2%;
	padding-bottom: 1%;
	font-size: 24px;
}
#endquo{
	width: 35%;
	margin-top: 20%;
	padding-left: 1.5%;
	padding-right: 1%;
	padding-top: 2%;
	padding-bottom: 1%;
	font-size: 24px;
}
#vid{
	padding-left: 1.1%;
}
#said{
	font-size: 75%;
	font-family: serif;
	font-weight: normal;
}
#quote{
	text-align: center;
	padding-left: 1%;
	font-size: 198%;
	font-weight: bold;
	letter-spacing: 0.75px;
}
.sm{
	position: relative;
	margin-top: 1%;
	margin-bottom: 1%; 
}
@media only screen and (max-width: 800px){
 	#begquo{
 		font-size: 14px;
 	}
 	#endquo{
 		font-size: 14px;
 	}
 	#quote{
 		font-size: 18px;
 	}
 	#title{
 		font-size: 55px;
 		line-height: 35px;
 		padding-top: 3%;
 	}
 	#lede{
 		font-size: 18px;
 		font-weight: bold;
 	}
 	.text{
 		font-size: 12px;
 		padding-top: 1%;
 		padding-right: 4%;
 	}
 	#uno{
		margin-right: 7%;
	}
	#dos{
		margin-right: 14%;
	}
	#tres{
		margin-left: 7%;
	}
	#vid{
		padding-left: 7%;
	}
}





